.venv/*
Data/test/A400M/*
Data/test/C130/*
Data/test/Su57/*
Data/test/Tu160/*
Data/train/A400M/*
Data/train/C130/*
Data/train/Su57/*
Data/train/Tu160/*

Deployment/*.tflite

Model

Notebook/*.jpg
Notebook/aircraft-model
Notebook/sequential*
Script/sequential*
Script/*.jpg